* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    margin: 2vh 2vw;
}
    .title {
        font-size: 4vh;
    }
    .description {
        font-size: 2vh;
    }

.inputDiv {
    margin: 2vh 0;
}
.isValidText {
    margin-left: 1vw;
}